.background {
  background-color: rgb(231, 182, 21);
}
.navset {
  justify-content: right;
}
.mid {
  background-color: rebeccapurple;
}
.textpage {
  color: yellow;
}
.search {
  background-color: #ffd700;
  text-align: center;
  height: auto;
}
.buttonshort {
  background-color: rebeccapurple;
}
.image {
  height: 30rem;
}

.copy {
  text-align: center;
  background-color: whitesmoke;
  height: auto;
  margin-top: 3;
}
.btncopy {
  justify-content: right;
}
.all {
  background-color: seashell;
}
.textNav {
  color: rebeccapurple;
  font-weight: bold;
}

.bg-purple {
  background-color: #fc9918;
}
